:root {
    --color--red: #391400;
    --color--red-light: rgba(57, 20, 0, 0.64);
    --color--white: #ffffff;
    --color--purple: #b550f8;
    --color--orange: #ef6d58;
    --color--transparent: transparent;
}
